body {
    margin: 0;
    background-image: url(../images/background-cadastro.png);
    background-size: 110%;
    background-position-y: 25px;

}

.container-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40%;
    margin-top: 30px;
}

.cadastro-title {
    font-family: Sarabun;
    font-weight: 700;
    font-size: 40px;
    color: rgb(255, 87, 87);
}

.form-container {
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px 60px;
    margin-left: 20px;
    border: solid;
    border-width: 12px;
    border-radius: 50px;
    border-color: rgba(255, 87, 87, 0.7);
}

.form-elements {
    display: flex;
    flex-direction: column;
    width: 420px;
}

.form-elements label {
    font-size: 30px;
    font-family: IBM Plex Mono;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

.form-elements input {
    padding: 9px;
    font-size: 20px;
    margin-bottom: 10px;
    color: gray;

    border: none;
    border-radius: 20px;
    background-color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-button {
    font-family: Roboto;
    font-weight: bold;
    font-size: 22px;
    color: white;
    
    padding: 15px;
    background-color: rgb(255, 87, 87);
    border-radius: 50px;
    border: 0;

    cursor: pointer;
}

.form-button:hover {
    background-color: rgb(207, 72, 72);
    transition: background-color 0.10s;
}

.form-button:active {
    background-color: rgb(139, 46, 46);
}

.error-text {
    color: red;
    font-family: 'Sarabun';
}