.container {
    background-color: rgba(7,7,7,0.8);
    height: 100vh;
    display: flex;
}

.card-frame{
    display: flex;
    padding: 20px;
    gap: 45px;
    margin: 60px;
}

.card-user {
    background-color: #ffffffc7;
    height: 550px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 7px 7px 15px 15px rgba(0,0,0,0.4);
    display: block;
    }


.card-info {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.card-avatar{
    border-radius: 50%;
    padding: 60px;
    background-image: url(../images/killjoy-icon.png);
    background-size: cover;
}

.card-text{
    font-family: "IBM Plex Mono";
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
}

