* {
    margin: 0
}

body {
    margin: 0;
    background-image: url(../images/background-profile-info.jpg);
    background-size: cover;

}

.hello-text, .hello-inf {
    font-family: Sarabun;
    font-weight: bold;
}

.hello-inf {
    font-size: 55px;
    color: rgb(255, 87, 87);
}

.hello-text {
    font-size: 2rem;
    color: white;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.main-container {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.card-container {
    padding: 10px 10px;
    border: solid;
    border-color: rgb(240, 74, 74);
    background-color: rgba(27, 30, 34, 0.6);
    width: 15rem;
}

.card-content {
    display: grid;
    justify-items: center;
    row-gap: 2rem;
}

.card-label {
    color: white;
    font-family: "IBM Plex Mono";
    text-align: center;
}

.card-img-container {
    margin: 3rem auto;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button-container button {
    font-family: Roboto;
    font-weight: bold;
    font-size: 22px;
    color: white;
    
    padding: 10px 26px;
    background-color: rgb(255, 87, 87);
    border-radius: 50px;
    border: 0;

    cursor: pointer;
}

.button-container button:hover {
    background-color: rgb(207, 72, 72);
    transition: background-color 0.10s;
}

.button-container button:active {
    background-color: rgb(139, 46, 46);
}
