* {
    margin: 0
}

body {
    margin: 0;
    background-image: url(../images/background-profile-info.jpg);
    background-size: cover;

}

.title-inf, .hello-inf {
    font-family: Sarabun;
    font-weight: bold;
}

.title-inf {
    font-size: 75px;
    color: white;
}

.hello-inf {
    font-size: 55px;
    color: rgb(255, 87, 87);
}

.main-container {
    display: flex;
}

.form-container {
    padding: 10px 10px;
    border: solid;
    border-color: rgb(240, 74, 74);
    background-color: rgba(27, 30, 34, 0.6);
}

.form-elements {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.form-elements label {
    font-family: IBM Plex Mono;
    font-weight: 500;
    font-size: 30px;
    color: white;
}

.form-elements input {
    padding: 6px;
    font-size: 20px;
    margin-bottom: 15px;
    color: gray;

    border: none;
    border-radius: 20px;
    background-color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    font-family: Roboto;
    font-weight: bold;
    font-size: 22px;
    color: white;
    
    padding: 10px 26px;
    background-color: rgb(255, 87, 87);
    border-radius: 50px;
    border: 0;

    cursor: pointer;
}

.button-container button:hover {
    background-color: rgb(207, 72, 72);
    transition: background-color 0.10s;
}

.button-container button:active {
    background-color: rgb(139, 46, 46);
}

.preview-title {
    color: white;
    font-family: Sarabun;
    font-size: 50px;
    font-weight: 700;
}