.login-form {
    display: grid;
    background-color: rgba(0,0,0, .8);
    background-position: left;
    border: 12px solid;
    border-color: rgba(246, 72, 72, .7);
    border-radius: 50px;
    margin: 0;

}

body {
    background-image: url(../images/background-login.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;


}

.label-font{
    font-family: "IBM Plex Mono";
    font-weight: bold;
    font-size: 40px;
    color: white;
}


.login-button {
    font-family: Roboto;
    font-weight: bold;
    font-size: 38px;
    color: white;
    margin: 40px;
}

.login-button:hover{
    cursor: pointer;
    background-color: rgb(207, 72, 72);
    transition: background-color 0.10s;
}

.login-button:active {
    background-color: rgb(139, 46, 46);
}

.label-container{
    padding: 30px;
    padding-bottom: 15px;
}


.input-container{
    padding: 15px;
    color: gray;
    border-radius: 50px;
    border: 0;
    font-size: 20px;
    font-family: Roboto;
}

.button-container{
    padding: 15px;
    background-color: rgb(255, 87, 87);
    border-radius: 50px;
    border: 0;
}