


.footer-background {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;

}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.footer-text{
    color: white;
    font-family: "IBM Plex Mono";
    text-decoration: none;
    font-size: 20px;
}
