body {
    margin: 0;
    background-image: url(images/background-resize.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.italic-text {
    color: white;
    font-style: italic;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-button-container {
    margin-right: 70px;
}

.header-logo {
    color: rgb(255, 87, 87);
    font-family: IBM Plex Mono;
    font-size: 36px;
    margin-left: 70px;
}

.header-button {
    margin-left: 15px;
    padding: 6px 30px 6px 30px;

    color: white;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 500;

    background-color: transparent;
    border: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 15px;
    cursor: pointer;
}

.header-button:hover {
    background-color: white;
    color: black;
    transition: 0.55s;
}

.header-button:active {
    background-color: rgb(154, 154, 154);
    transition: 0.1s;
}

.center-container {
    width: 43%;
    margin-left: 70px;
    margin-top: 130px;
}

.main-logo {
    color: rgb(255, 87, 87);
    font-family: IBM Plex Mono;
    font-size: 150px;
}

.main-logo-subtitle {
    font-family: Sarabun;
    font-size: 72px;
    color: white;
    font-weight: 100;
}

.main-logo-subtext {
    font-family: Sarabun;
    font-size: 35px;
    font-weight: 100;
    color: white;
    margin-top: 1px;
    line-break: auto;
}

.center-bottom-container {
    display: flex;
    justify-content: left;
    margin-top: 60px;
    gap: 100px;
}

.center-bottom-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-bottom-container button {
    padding: 6px 30px 6px 30px;

    color: white;
    font-size: 42px;
    font-family: Roboto;
    font-weight: 700;

    background-color: transparent;
    border: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 15px;
    cursor: pointer;
}

.center-bottom-container button:hover {
    background-color: white;
    color: black;
    transition: 0.55s;
}

.center-bottom-container button:active {
    background-color: rgb(154, 154, 154);
    transition: 0.1s;
}

.center-bottom-container p {
    margin: 0;
    margin-top: 5px;
    color: white;
    font-family: Sarabun;
    font-weight: 500;
    font-size: 20px;
}
